body {
  font-family: sans-serif;
  background: #f8f8f8;
}

* {
  text-align: center;
  margin: auto;
}

.header-container a {
  color: rgb(49, 49, 49);
  margin-top: 10px;
}

header {
  background: #daecf2;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header * {
  margin: 0;
}

.logout-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.links-container {
  display: flex;
}

.logo-container {
  margin-right: 20px;
}

.logo {
  height: 50px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.login-container {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content:space-between;
  background-color: red;
}

.username-container, .pw-container {
  padding-block-start: 0 px;
  padding-block-end: 0px;
}

.virheviesti {
  padding: 10px;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
  padding-left: 3px;
  padding-right: 3px;
  transition: opacity 300ms ease-out;
}

a:hover {
  opacity: .5;
}


h1 {
  margin: 10px;
  color: rgb(29, 54, 63);
}

h2 {
  padding: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: rgb(10, 36, 46);
}

td {
  padding-top: 6px;
  padding-bottom: 6px;
  max-width: 350px;
}

summary {
  padding: 15px;
}


main {
  max-width: 900px;

  background: #ffffff;
  /* Varjo */

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  padding: 20px;
  border-radius: 10px;
}
.linkki {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nappi {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px;
border: none;
cursor: pointer;
transition: color 300ms ease-out, background 300ms ease-out, border-radius 300ms ease-out, transform 300ms ease-out;

background: #000000;
border-radius: 4px;

/*teksti*/
font-weight: 800;
font-size: 12px;
color: #FFFFFF;
}

.nappi:hover {
  color: red;
  background: green;
  transform: translateY(2px);
  border-radius: 500px;
}
