.header-container p {
    color:rgb(49, 49, 49);
    margin: 10px;
}

.virheviesti {
    color: red;
    padding: 10px;
}


a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
  padding-left: 3px;
  padding-right: 3px;
}

body {
  font-family: sans-serif;
}

h1 {
    margin: 10px;
}

h2 {
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
}

td {
  padding-top: 4px;
  padding-bottom: 4px;
}

* {
  text-align: center;
  margin: auto;
}
