
<head>
    <title>Käyttäjien hallinnointi</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
</head>

<header class="header-container">
    <tr>
        <td><a href="/">kotisivulle</a></td>
        <td>Kirjautuneena: {{ session.username }} <a href="/logout">Kirjaudu ulos</a></td>
    </tr>
    
    
    <h1>Käyttäjien hallinnointi</h1>
</header>

{% if session["role"] in ["sadmin", "admin"] %}
<body>
    <summary>
        <p><b>Super admin</b> voi hallita kaikkea sivulla</p>
        <p><b>Admin</b> ei voi hallita käyttäjiä, mutta voi nähdä nämä tiedot.</p>
        <p><b>User</b> ei voi näiden lisäksi muokata inventaariota tai poistaa kalenterimerkintöjä</p>
        <p><b>User</b> voi luoda kalenterimerkintöjä ja tarkkailla inventaariota.</p>
    </summary>

    <table style="text-align: left;">
        <th>
            Käyttäjänimi:
        </th>
        <th>
            Rooli:
        </th>
        {% if session["role"] in ["sadmin"] %}
        <th>
            Muuta rolea:
        </th>
        <th>
            Poista käyttäjä:
        </th>
        {% endif %}
        {% for kayttaja in tiedot %}
            {% if kayttaja[0] != session["id"] %}
                <tr>
                    <td>
                        {{ kayttaja[1] }}
                    </td>
                    <td>
                        {{ kayttaja[2] }}
                    </td>
                    {% if session["role"] in ["sadmin"] %}
                        <td>
                            <form action="/muutaroolia" method="POST">
                                <input type="text" name="id" value={{ kayttaja[0] }} hidden>
                                <select class="form-control" name="roolit" style="width: 100px;">
                                    <option selected value={{ kayttaja[2] }}>{{ kayttaja[2] }}</option>
                                    <option value="sadmin">sadmin</option>
                                    <option value="admin">admin</option>
                                    <option value="user">user</option>
                                </select>
                                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                <input type="submit" value="Muuta">
                            </form>
                        </td>
                        <td>
                            <form action="/poistakayttaja" method="POST">
                                <input type="text" name="id" value={{ kayttaja[0] }} hidden>
                                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                <input type="submit" value="Poista">
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
        {% for kayttaja in tiedot %}
            {% if kayttaja[0] == session["id"] %}
                <tr>
                    <td>
                        {{ kayttaja[1] }}
                    </td>
                    <td>
                        {{ kayttaja[2] }}
                    </td>
                    <td>
                        <p><b>Ei voi muuttaa omaa roolia.</b></p>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</body>
{% endif %}