<header>
  <a href="/">kotisivulle</a>
  <p>Kirjautuneena: {{ session.username }} <a href="/logout">Kirjaudu ulos</a> </p>
</header>


<title>Kolon inventaario</title>

<h1>Kolon inventaario</h1>
<p><i>Tähän lisätään käyttäjälle vielä mahdollisuus lainata tuotteita inventaariosta</i></p>

<hr>


<table style="width:100%;text-align: left;">
    <tr>
      <th>tuote:</th>
      <th>kuvaus:</th>
      <th>maara</th>
    </tr>
    {% for tuote in tuotteet %}
    <tr>
      <td>{{ tuote[0] }}</td>
      <td>{{ tuote[1] }}</td>
      <td>{{ tuote[2] }}</td>
      <td>
        {% if session["rooli"] in ["sadmin", "admin"] %}
        <form action="/inventaario" method="POST">
          <input type="text" name="id" id="id" value="{{ tuote[3] }}" hidden/>
          <input type="submit" value="poista"/>
        </form>
        {% endif %}
      </td>
      <td>
        {% if session["rooli"] in ["sadmin", "admin"] %}
        <form action="/varasto/{{ tuote[3] }}" method="POST">
          <input type="submit" value="muokkaa"/>
        </form>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
<hr>

{% if session["rooli"] in ["sadmin", "admin"] %}
<h3>Lisää tuote:</h3>
<form action="/inventaario" method="POST">

    <label for="tuote">Tuote:</label><br>
    <input type="text" id="tuote" name="tuote"><br>

    <label for="kuvaus">Kuvaus:</label><br>
    <input type="text" id="kuvaus" name="kuvaus"><br>

    <label for="maara">Määrä:</label><br>
    <input type="number" id="maara" name="maara"><br><br>
    

    <input type="submit" value="Submit">

  </form> 
  {% endif %}





