
<html>
    <head>
        <title>Kolopäiväkirja</title>
        <link
          rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}"
        />
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/Rastipartiologo_pieni.png') }}">
    </head>
    
    
    <body>
        <header>
            <div class="links-container">
                <a class="logo-container" href="/">
                    <img class="logo" src="{{ url_for('static', filename='images/Rastipartiologo_pieni.png') }}" alt="Rastipartio logo">
                </a>
                <nav>
                    <a href="/">kotisivulle</a>
                </nav>
            </div>
            <div class="logout-container">
                <p>Kirjautuneena: {{ session.username }}</p>
                <a href="/logout">Kirjaudu ulos</a>
            </div>
        </header>
        <main>
        <h1>Kalenterimerkinnät</h1>

        {% with messages = get_flashed_messages() %} 
        {% if messages %} 
        {% for msg in messages %}
        <p class="virheviesti"><i>{{msg}}</i></p>
        {% endfor %} {% endif %} {% endwith %}
        
        <div class="linkki">
            <a href="/uusikalenterimerkinta"> Tee uusi merkintä </a><br>
        </div>

        <table>
            <thead>
                <th>Päivämäärä</th>
                <th>Merkintä</th>
                <th>Kirjoittaja</th>
            </thead>
            <tbody>
                {% for merkinta in merkinnat %}
                <tr>
                    <td>{{merkinta[1]}}</td>
                    <td>{{merkinta[2]}}</td>
                    <td>{{merkinta[3]}}</td>
                    <td>
                        {% if session["role"] in ["sadmin", "admin"] %}
                        <form action="/poistakmerkinta" method="POST">
                        <input type="text" name="poistettavaid" value="{{ merkinta[0] }}" hidden>
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <input class="nappi" type="submit" value="poista">
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table> <br>

    </main>
    </body>
</html>
