
<html>
    <head>
        <title>Rekisteröityminen</title>
        <link
          rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}"
        />
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/Rastipartiologo_pieni.png') }}">
      </head>

    <body>
        <header>
            <div class="links-container">
                <a class="logo-container" href="/">
                    <img class="logo" src="{{ url_for('static', filename='images/Rastipartiologo_pieni.png') }}" alt="Rastipartio logo">
                </a>
                <nav>
                    <a href="/">kotisivulle</a>
                </nav>
            </div>
        </header>
        <main>

            <h4>Rekisteröidy tässä:</h4>
            <summary>
                <p>Käytä käyttäjänimessä partio-sähköpostiosoitettasi.</p>
                <p>Rekisteröitymisen jälkeen sähköpostiisi ei tule vahvistusta, vaan voit kirjautua sivulle suoraan luomillasi tunnuksilla.</p>
            </summary>
            
            
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for msg in messages %}
            <p><i>{{msg}}</i></p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            
            <form action="/register" method="POST">
            <div class="login-container">

                <div class="username-container">
                    <label for="username">Käyttäjänimi:</label>
                    <input type="email" required value="{{ username }}" name="username" minlength="5"><br>
                </div>
                <div class="pw-container">
                    <label for="password">Salasana:</label>
                    <input type="password" required name="password" value="{{ password }}" minlength="5"><br>
                </div>
                
                <div class="login-button">
                    <input class="nappi" type="submit" value="Rekisteröidy" style="margin-top: 10px;">
                </div>
            </div>
            </form>
        </main>
    </body>
</html>