

<head>
    <title>Rekisteröityminen</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

<header class="header-container">
    <a href="/">takaisin kotisivulle</a>
    <p>
        <br>
    </p>
</header>

<body>
    <h4>Rekisteröidy tässä:</h4>
    <summary>
        <p>Älä käytä tässä mitään oikeita salasanojasi!</p>
        <p>lomake ei lähetä sähköpostiin viestiä.</p>
        <p>Nyt kuka vain voi tehdä käyttäjän, mutta tämä muuttuu niin, että vain @rastipartio.fi päättyisillä osoitteilla voi tehdä käyttäjän.</p>
    </summary>
    

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p><i>{{msg}}</i></p>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <form action="/register" method="POST">
        <label for="username">Käyttäjänimi:</label>
        <input type="email" required value="{{ username }}" name="username" minlength="5"><br>

        <label for="password">Salasana:</label>
        <input type="password" required name="password" value="{{ password }}" minlength="5"><br>

        <input type="submit" value="Rekisteröidy" style="margin-top: 10px;">
    </form>
</body>