<title>Uusi kalenterimerkintä</title>

<header>
    <table>
        <tr>
            <td> <a href="/">kotisivulle</a> </td>
            <td> <a href="/paivakirja">takaisin paivakirjaan</a> </td>
        </tr>
    </table>
    
  </header>

<h1>Lisää uusi kalenterimerkintä</h1> <br>

<form action="/lahetakmerkinta" method="POST">

    <label for="merkinta">Kalenterimerkintä:</label><br>
    <textarea id="1"name="merkinta" rows="2" cols="40" required minlength="8"></textarea><br><br>

    <label for="kirjoittaja">Kirjoittaja:</label><br>
    <textarea id="2" name="kirjoittaja" rows="1" cols="40" required minlength="3"></textarea><br><br>

    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Lähetä">
</form>
